body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /* border:10px solid red; */
  /* border-radius:10px;   */
  position:absolute;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 72%;}
}
@keyframes bouncing{
  0%  { bottom: 0; box-shadow: 0 0 px rgba(0,0,0,0.5);}
  100%{ bottom: 50px; box-shadow: 0 0px 0px rgba(0,0,0,0.1);}
}

/* .blinky{ animation: bouncing 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;} */

/* .breakDancer:after {
  animation: mymove 5s infinite;
} */

.breakDancer {
  animation: mymove 5s infinite;
 }